aniso8601==3.0.2
apturl==0.5.2
asn1crypto==0.24.0
atari-py==0.1.7
backports.csv==1.0.6
backports.functools-lru-cache==1.5
beautifulsoup4==4.6.3
bleach==1.5.0
blinker==1.3
box2d-py==2.3.8
Brlapi==0.6.4
cachetools==3.1.0
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
checkbox-support==0.22
cheroot==6.5.2
CherryPy==18.0.0
click==6.3
cloudpickle==0.8.0
colorama==0.4.1
command-not-found==0.3
contextlib2==0.5.5
cryptography==2.6.1
cycler==0.10.0
cymem==1.31.2
Cython==0.29.9
cytoolz==0.8.2
dask==1.1.4
decorator==4.3.0
defer==1.0.6
dill==0.2.7.1
Django==2.2.4
django-npm==1.0.0
docker==3.5.0
docker-pycreds==0.3.0
en-core-web-sm==2.0.0
entrypoints==0.2.3
enum34==1.1.6
feedparser==5.1.3
Flask==1.0.2
Flask-API==1.1
Flask-Cors==3.0.7
Flask-RESTful==0.3.6
ftfy==4.4.3
future==0.16.0
geographiclib==1.49
geopy==1.18.1
glfw==1.8.1
google-api-core==1.8.1
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud-core==0.29.1
google-cloud-translate==1.3.3
google-images-download==2.5.0
Google-Images-Search==0.2.0
googleapis-common-protos==1.5.8
googletrans==2.3.0
guacamole==0.9.2
gunicorn==19.9.0
gym==0.10.9
h5py==2.7.1
html5lib==0.9999999
httplib2==0.12.1
idna==2.7
imageio==2.5.0
inflect==1.0.1
intervaltree==3.0.2
ipykernel==4.6.1
ipython==6.2.0
ipython-genutils==0.2.0
ipywidgets==7.0.1
itsdangerous==0.24
jaraco.functools==1.20
jaraco.itertools==3.0.0
jedi==0.11.0
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.3.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
Keras==2.1.3
kiwisolver==1.1.0
labella==0.9.2
language-selector==0.1
lockfile==0.12.2
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
Markdown==2.6.9
MarkupSafe==0.23
matplotlib==3.0.3
mistune==0.7.4
more-itertools==4.3.0
mpi4py==3.0.1
mpmath==1.0.0
msgpack-numpy==0.4.1
msgpack-python==0.5.4
mujoco-py==2.0.2.2
murmurhash==0.28.0
mysqlclient==1.3.13
nbconvert==5.3.1
nbformat==4.4.0
ndg-httpsclient==0.5.1
networkx==2.2
nltk==3.2.5
notebook==5.1.0
numpy==1.14.0
oauth2client==4.1.3
oauthlib==1.0.3
onboard==1.2.0
opencv-python==4.1.0.25
padme==1.1.1
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.0
pathlib==1.0.1
patsy==0.5.0
Pattern==3.6
pdfminer.six==20170720
pexpect==4.0.1
pickleshare==0.7.4
Pillow==5.1.0
plac==0.9.6
plainbox==0.25
plotly==2.5.0
portend==2.3
powerlaw==1.4.5
preshed==1.0.0
prompt-toolkit==1.0.15
protobuf==3.5.0.post1
ptyprocess==0.5
pusher==2.1.3
py4j==0.10.7
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
pycryptodome==3.6.6
pycups==1.9.73
pycurl==7.43.0
pyfiglet==0.7.6
pyglet==1.3.2
Pygments==2.2.0
pygobject==3.20.0
PyJWT==1.3.0
pymongo==3.7.1
PyNaCl==1.3.0
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyparsing==2.0.3
Pyphen==0.9.4
PySocks==1.6.8
pyspark==2.4.0
python-apt==1.1.0b1+ubuntu0.16.4.5
python-dateutil==2.6.1
python-debian==0.1.27
python-docx==0.8.7
python-resize-image==1.1.18
python-systemd==231
pytz==2017.3
PyWavelets==1.0.2
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
regex==2017.4.5
remarkable==1.87
reportlab==3.3.0
repoze.lru==0.7
requests==2.20.1
requests-oauthlib==1.0.0
rpy2==2.9.5
rsa==4.0
scikit-image==0.14.2
scikit-learn==0.20.1
scipy==1.0.0
screen-resolution-extra==0.0.0
selenium==3.141.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
sortedcontainers==2.1.0
spacy==2.0.7
sqlparse==0.3.0
statsmodels==0.8.0
sympy==1.3
system-service==0.3
tempora==1.13
tensorflow==1.4.0
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0rc3
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
textblob==0.15.1
textstat==0.4.1
thinc==6.10.2
toolz==0.9.0
torch==1.0.0
tornado==4.5.2
tqdm==4.19.5
traitlets==4.3.2
tweepy==3.6.0
tweetpy==0.1
tzlocal==1.5.1
ubuntu-drivers-common==0.0.0
ufw==0.35
ujson==1.35
unattended-upgrades==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-gdrive==0.7
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
uritemplate==3.0.0
urllib3==1.24.1
usb-creator==0.3.0
vboxapi==1.0
vislib==0.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.52.0
Werkzeug==0.14.1
widgetsnbextension==3.0.3
wolframalpha==3.0.1
wrapt==1.10.11
xdiagnose==3.8.4.1
xkit==0.0.0
xlrd==1.1.0
XlsxWriter==0.7.3
xmltodict==0.11.0
zc.lockfile==1.3.0
